* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Kanit'; */
}

nav {
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    .marquee {
        display: flex;
        min-width: 100%;
        animation: marquee-scroll 15s linear infinite;
    }

    .marquee h2 {
        font-size: 15px;
        white-space: nowrap;
        margin-right: 50px;
    }
}


@keyframes marquee-scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}




header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    .logo {
        height: 100%;
        width: 5%;
        /* margin-left: -100px; */

        img {
            height: 100%;
            width: 100%;
        }
    }

    .navLinks {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .navLinks a {
        position: relative;
        text-decoration: none;
        font-size: 18px;
        margin: 0 10px;
        padding: 5px 0;
        color: black;
        transition: color 0.3s ease-in-out;
    }

    .navLinks a::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: green;
        bottom: 0;
        left: 0;
        transition: width 0.3s ease-in-out;
    }

    .navLinks a:hover {
        color: green;
    }

    .navLinks a:hover::before {
        width: 100%;
    }

    .menu-icon {
        display: none;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        left: 15px;
    }

    .icons {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        position: absolute;
        right: 15px;

        a {
            color: green;
        }
    }




    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown select {
        display: none; 
    }

    .dropdown-btn {
        background-color: transparent;
        padding: 10px 15px;
        list-style: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        outline: none;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        list-style: none;
        display: none;
        min-width: 150px;
    }

    .dropdown-menu li {
        padding: 10px 15px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }

    .dropdown-menu li:hover {
        background: #f2f2f2;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        transform: translateY(0);
    }


}


@media (max-width: 768px) {
    header {
        justify-content: center;
        height: 80px;

        .logo {
            margin-left: 0;
            width: 10%;
        }

        .menu-icon {
            display: block;
        }

        .navLinks {
            display: flex;
            z-index: 100;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            background: white;
            padding: 10px 0;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
        }

        .navLinks.show {
            display: flex;
        }

        .icons{
            width: 20%;
        }

    }
}


@media (max-width: 480px) {
    header {
        justify-content: center;
        height: 80px;

        .logo {
            margin-left: 0;
            width: 20%;
        }

        .navLinks {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            background: white;
            padding: 10px 0;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;

            a {
                font-size: 15px;
            }
        }

        .navLinks.show {
            display: flex;
        }

        .menu-icon {
            display: block;
        }

        .icons{
            width: 25%;
        }
    }
}



/* //Language */

.language-container {
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 1000;
}

#languageSelect {
    height: 50px;
    appearance: none;
    padding: 8px 35px 8px 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #28a745;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.language-container::after {
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 0%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
}

#languageSelect:hover {
    background: #218838;
}

@media (max-width: 768px) {
    .language-container {
        top: 10px;
        right: 10px;
    }

    #languageSelect {
        font-size: 14px;
        padding: 6px 30px 6px 10px;
    }
}


/* //sec 1 */
.sec1 {
    position: relative;
    height: 400px;
    background: none;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sec1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("img/mug.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* //about us */
.sec1 h1 {
    color: white;
    font-size: 100px;
    font-size: 'Kanit';
    text-align: center;
    letter-spacing: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
}


@media (max-width: 768px) {
    .sec1 {
        text-align: center;
        padding: 50px 10px;
    }

    .sec1 h1 {
        font-size: 2rem;
        max-width: 100%;
    }
}


@media (max-width:480px) {
    .sec1 {
        h1 {
            font-size: 50px;
            letter-spacing: 10px;
        }
    }
}



/* //sec2 */

.sec2 {
    display: flex;

    .cm_content {
        height: auto;
        background: white;

        .name {
            display: flex;
            width: 250px;
            align-items: center;
            justify-content: space-evenly;

            h5 {
                font-weight: bold;
                position: relative;
                top: 4px;
            }

            .line {
                background-color: #218838;
                height: 2px;
                width: 20%;
            }
        }


    }
}

@media (max-width: 768px) {
    .sec2 {
        flex-direction: column;

        .cm_img {
            width: 80%;
            height: 500px;
        }

        .cm_content {
            width: 100%;

        }
    }
}


@media (max-width: 480px) {
    .sec2 {
        flex-direction: column;

        .cm_img {
            width: 100%;
            height: 350px;
        }

        .cm_content {
            width: 100%;

        }
    }
}

.cm_img {
    height: 500px;
    width: 100%;
    background: url('img/mj\ global\ about.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.part2{
    height: auto;

    .content2{
        ul {
            height: auto;
            list-style: none;
            /* border: 2px solid; */
            margin-left: -35px;
        }

        ul li {
            position: relative;
            padding-left: 40px;
            line-height: 35px;
        }

        ul li::before {
            content: "";
            background-image: url("img/diamond.gif");
            background-size: 30px 30px;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 2px;
        }


    }
}



@media (max-width: 768px) {
    .part2{
        
        .content2{
            width: 100%;
           
        }
    }
}

/* //sec3 */

.sec3 {
    height: auto;
    display: flex;
    background-color: #efeeea;

    .info {
        width: 65%;
        padding: 20px;
    }

    .about_logo {
        width: calc(100% - 66%);

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 768px) {
    .sec3 {
        flex-direction: column;

        .info {
            width: 100%;
        }

        .about_logo {
            width: 100%;
        }
    }
}


/* //sec4 */

.sec4{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .steps1{
        height: auto;
        display: flex;
        margin: 10px;

        .num1{
            width: 10%;
            border: 2px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: white;
            font-weight: bold;
            font-family: 'kanit';
        }

        .des1{
            width: 90%;
            border: 2px solid green;
            border-right: 5px solid green;
            border-left: 5px solid green;
            padding: 10px;
            font-family: 'kanit';
            line-height: 25px;
            position: relative;
            overflow: hidden; /* Extra content hide hoga */
            z-index: 1;
        }
    }
}

 .steps1 .des1::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: green;
    transition: left 0.5s ease-in-out;
    z-index: -1; 
}

.steps1:hover .des1::before {
    left: 0; 
}


.steps1:hover .num1 {
    background-color: white;
    color: green;
    transition: 1s;
}
.steps1:hover .des1 {
    color: white;
    transition: color 0.5s ease-in-out;
}





/* ///second step */

.sec4{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .steps2{
        height: auto;
        display: flex;
        margin: 10px;

        .num2{
            width: 10%;
            border: 2px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: white;
            font-weight: bold;
            font-family: 'kanit';
        }

        .des2{
            width: 90%;
            border: 2px solid green;
            border-right: 5px solid green;
            border-left: 5px solid green;
            padding: 10px;
            font-family: 'kanit';
            line-height: 25px;
            position: relative;
            overflow: hidden; /* Extra content hide hoga */
            z-index: 1;
        }
    }
}

.steps2 .des2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%; 
    width: 100%;
    height: 100%;
    background-color: green;
    transition: left 0.5s ease-in-out;
    z-index: -1; 
}

.steps2:hover .des2::before {
    left: 0; 
}


.steps2:hover .num2 {
    background-color: white;
    color: green;
    transition: 1s;
}
.steps2:hover .des2 {
    color: white;
    transition: color 0.5s ease-in-out;
}



/* //third stepp */

.sec4{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .steps3{
        height: auto;
        display: flex;
        margin: 10px;

        .num3{
            width: 10%;
            border: 2px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: white;
            font-weight: bold;
            font-family: 'kanit';
        }

        .des3{
            width: 90%;
            border: 2px solid green;
            border-right: 5px solid green;
            border-left: 5px solid green;
            padding: 10px;
            font-family: 'kanit';
            line-height: 25px;
            position: relative;
            overflow: hidden; /* Extra content hide hoga */
            z-index: 1;
        }
    }
}

.steps3 .des3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: green;
    transition: left 0.5s ease-in-out;
    z-index: -1; 
}

.steps3:hover .des3::before {
    left: 0; 
}


.steps3:hover .num3 {
    background-color: white;
    color: green;
    transition: 1s;
}
.steps3:hover .des3 {
    color: white;
    transition: color 0.5s ease-in-out;
}



/* //four step */

.sec4{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .steps4{
        height: auto;
        display: flex;
        margin: 10px;

        .num4{
            width: 10%;
            border: 2px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: white;
            font-weight: bold;
            font-family: 'kanit';
        }

        .des4{
            width: 90%;
            border: 2px solid green;
            border-right: 5px solid green;
            border-left: 5px solid green;
            padding: 10px;
            font-family: 'kanit';
            line-height: 25px;
            position: relative;
            overflow: hidden; /* Extra content hide hoga */
            z-index: 1;
        }
    }
}

.steps4 .des4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%; 
    width: 100%;
    height: 100%;
    background-color: green;
    transition: left 0.5s ease-in-out;
    z-index: -1; 
}

.steps4:hover .des4::before {
    left: 0; 
}


.steps4:hover .num4 {
    background-color: white;
    color: green;
    transition: 1s;
}
.steps4:hover .des4 {
    color: white;
    transition: color 0.5s ease-in-out;
}




/* //five step */

.sec4{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .steps5{
        height: auto;
        display: flex;
        margin: 10px;

        .num5{
            width: 10%;
            border: 2px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: white;
            font-weight: bold;
            font-family: 'kanit';
        }

        .des5{
            width: 90%;
            border: 2px solid green;
            border-right: 5px solid green;
            border-left: 5px solid green;
            padding: 10px;
            font-family: 'kanit';
            line-height: 25px;
            position: relative;
            overflow: hidden; /* Extra content hide hoga */
            z-index: 1;
        }
    }
}

.steps5 .des5::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: green;
    transition: left 0.5s ease-in-out;
    z-index: -1; 
}

.steps5:hover .des5::before {
    left: 0; 
}


.steps5:hover .num5 {
    background-color: white;
    color: green;
    transition: 1s;
}
.steps5:hover .des5 {
    color: white;
    transition: color 0.5s ease-in-out;
}



/* //six step */

.sec4{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .steps6{
        height: auto;
        display: flex;
        margin: 10px;

        .num6{
            width: 10%;
            border: 2px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: white;
            font-weight: bold;
            font-family: 'kanit';
        }

        .des6{
            width: 90%;
            border: 2px solid green;
            border-right: 5px solid green;
            border-left: 5px solid green;
            padding: 10px;
            font-family: 'kanit';
            line-height: 25px;
            position: relative;
            overflow: hidden; /* Extra content hide hoga */
            z-index: 1;
        }
    }
}

.steps6 .des6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%; 
    width: 100%;
    height: 100%;
    background-color: green;
    transition: left 0.5s ease-in-out;
    z-index: -1; 
}

.steps6:hover .des6::before {
    left: 0; 
}


.steps6:hover .num6 {
    background-color: white;
    color: green;
    transition: 1s;
}
.steps6:hover .des6 {
    color: white;
    transition: color 0.5s ease-in-out;
}



@media (max-width: 500px) {
    .sec4{
        .steps1{
            .num1{
                width: 25%;
            }
        }

        .steps2{
            .num2{
                width: 25%;
            }
        }

        .steps3{
            .num3{
                width: 25%;
            }
        }

        .steps4{
            .num4{
                width: 25%;
            }
        }

        .steps5{
            .num5{
                width: 25%;
            }
        }

        .steps6{
            .num6{
                width: 25%;
            }
        }
    }
}




/* //footer */


.footer {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 50px 20px;
    font-family: Arial, sans-serif;

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .footer-about {
        width: 20%;
    }

    .footer-about p,
    .footer-contact p,
    .footer-newsletter p {
        line-height: 1.6;
    }

    .footer-links {
        /* border: 2px solid; */
        width: 10%;
    }

    .footer-links ul {
        list-style: inside;
        padding: 0;
    }

    .footer-links ul li {
        margin: 10px 0;
    }

    .footer-links ul li a {
        color: #ffffff;
        text-decoration: none;
        transition: color 0.3s;
    }

    .footer-links ul li a:hover {
        color: #ffb400;
        /* Accent color */
    }

    .footer-contact p {
        margin: 10px 0;
    }

    .footer-newsletter form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-newsletter input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        width: 100%;
    }

    .footer-newsletter button {
        padding: 10px;
        background-color: #ffb400;
        color: #2c2c2c;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .footer-newsletter button:hover {
        background-color: #ff9900;
    }

    .footer-bottom {
        text-align: center;
        border-top: 1px solid #444444;
        padding-top: 20px;
    }

    .footer-bottom p {
        margin: 10px 0;
    }

    .footer-social a {
        margin: 0 10px;
        color: #ffffff;
        font-size: 1.5rem;
        text-decoration: none;
        transition: color 0.3s;
    }

    .footer-social a:hover {
        color: #ffb400;
    }

    i:hover {
        transform: rotateY(360deg);
        transition: 1s;
    }

}


@media (max-width: 768px) {
    .footer {
        .footer-about {
            width: 100%;
        }

        .footer-links {
            width: 100%;
        }
    }
}














/* progress circle */

.progress-circle-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-circle {
    width: 80px;
    height: 80px;
}

.progress-circle-bar {
    fill: none;
    stroke: black;
    stroke-width: 5;
    stroke-dasharray: 283;
    stroke-dashoffset: 0;
    transform-origin: center;
    transition: stroke-dashoffset 0.3s ease;
}

.progress-background {
    fill: transparent;
    stroke: #ededed;
    stroke-width: 5;
    stroke-dasharray: none;
}


.scroll-to-top {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.scroll-to-top svg {
    display: block;
    width: 20px;
    height: 20px;
    stroke: white;
    transition: all 0.1s ease;
}

.whatsapp{
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    border-radius: 50%;
    background-color: green;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}